.App {
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	min-height: 100vh;
}

button,
input,
select {
	font-family: inherit;
	font-size: 100%;
}




